/* styles.css */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    background-color: #f2f2f2; /* Background color */
    font-family: Arial, sans-serif; /* Font family */
}

form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Form background color */
}

h1 {
    text-align: center;
    color: #333; /* Heading color */
}

label {
    margin-bottom: 5px;
    display: block;
    color: #666; /* Label color */
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    box-sizing: border-box;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff; /* Button background color */
    color: #fff; /* Button text color */
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3; /* Button hover background color */
}
/* styles.css */

nav {
    display: flex;
    justify-content: flex-start;
    border-bottom: 2px solid #007bff; /* Add a 2px solid border with blue color */
    padding-bottom: 10px; /* Add some padding to the bottom of the navigation bar */
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px; /* Adjust spacing between navigation items */
}

nav ul li a {
    text-decoration: none;
    color: #333; /* Link color */
}
.password-container {
    position: relative;
    display: inline-block;
  }
  
  .password-container input {
    padding-right: 30px; /* Adjust this value as needed */
  }
  
  .toggle-password {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }
  