{% extends 'base.html' %} {% block content %} {% if user.role == 'Admin' %}

<div class="container mt-4">
  <h1 class="text-center" style="font-family: 'Times New Roman', Times, serif">
    Welcome to the Admin Dashboard, {{ user.first_name }}
  </h1>
  <div class="card mt-3 mb-4">
    <div class="card-body">
      <p><strong>Username:</strong> {{ user.username }}</p>
      <p>
        <strong>Full Name:</strong> {{ user.first_name }} {{ user.last_name }}
      </p>
      <p><strong>Email:</strong> {{ user.email }}</p>
      <p><strong>Role:</strong> {{ user.role }}</p>
      <!-- Logout Button -->
      <button type="submit" form="logoutForm" class="btn-logout">Logout</button>
      <!-- Delete Button -->
    </div>
  </div>
  <form
    id="logoutForm"
    action="/logout"
    method="post"
    style="display: none"
  ></form>

  <!-- Form to Add Department -->
  <button
    id="toggleDepartmentFormBtn"
    class="btn btn-primary"
    style="
      margin-bottom: 20px;
      background-color: #010b14;
      font-family: 'Times New Roman', Times, serif;
    "
  >
    Add a New Department
  </button>
  <form id="addDepartmentForm" class="mb-4" style="display: none">
    <h2>Add a Department</h2>
    <br />
    <div class="mb-3">
      <label for="departmentName" class="form-label">Department Name:</label
      ><br />
      <input
        type="text"
        id="departmentName"
        name="departmentName"
        class="form-control"
        required
      />
    </div>
    <button
      type="button"
      onclick="addDepartment()"
      class="btn btn-primary"
      style="background-color: #010b14"
    >
      Add Department
    </button>
  </form>

  <!-- Button to see all departments -->
  <button
    type="button"
    onclick="seeDepartments()"
    class="btn btn-secondary mb-4"
    style="
      background-color: #010b14;
      font-family: 'Times New Roman', Times, serif;
    "
  >
    See Department List
  </button>
  <div id="departmentsTableContainer" style="display: none">
    <!-- Table of Departments -->
    <h3>Departments List</h3>
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Department ID</th>
          <th>Department Name</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="departmentsTableBody">
        <!-- Departments will be populated here -->
      </tbody>
    </table>
  </div>

  <!-- Button to see all users -->
  <button
    type="button"
    onclick="seeUsers()"
    class="btn btn-secondary mb-4"
    style="
      background-color: #010b14;
      font-family: 'Times New Roman', Times, serif;
    "
  >
    See User List
  </button>
  <div id="usersTableContainer" style="display: none">
    <!-- Table to display users -->
    <h3>Users list</h3>
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th>User ID</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
          <th>Email</th>
          <th>Role</th>
          <th>Dept ID</th>
          <th>Manager ID</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="usersTableBody">
        <!-- Users will be populated here -->
      </tbody>
    </table>
  </div>

  <!-- Button to see reimbursement requests list -->
  <button
    type="button"
    onclick="seeRequests()"
    class="btn btn-secondary mb-4"
    style="
      background-color: #010b14;
      font-family: 'Times New Roman', Times, serif;
    "
  >
    See Requests List
  </button>
  <div id="requestsTableContainer" style="display: none">
    <!-- Table to display reimbursement requests -->
    <h3>Reimbursement Requests List</h3>
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Request ID</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Description</th>
          <th>Category</th>
          <th>Status</th>
          <th>Employee ID</th>
          <th>Manager ID</th>
          <th>Manager Comment</th>
          <th>Receipt Path</th>
        </tr>
      </thead>
      <tbody id="requestsTableBody">
        <!-- Reimbursement requests will be populated here -->
      </tbody>
    </table>
  </div>

  <!-- Button to fetch reimbursement requests list for admin -->
  <button
    type="button"
    onclick="seeRequestsAdmin()"
    class="btn btn-secondary mb-4"
    style="
      background-color: #010b14;
      font-family: 'Times New Roman', Times, serif;
    "
  >
    Show Requests for Updation
  </button>
  <div id="requestsAdminTableContainer" style="display: none">
    <!-- Table to display reimbursement requests -->
    <h3>Reimbursement Requests List</h3>
    <table class="table table-bordered">
      <thead class="table-dark">
        <tr>
          <th>Request ID</th>
          <th>Amount</th>
          <th>Date</th>
          <th>Description</th>
          <th>Category</th>
          <th>Status</th>
          <th>Employee ID</th>
          <th>Manager ID</th>
          <th>Manager Comment</th>
          <th>Receipt Path</th>
        </tr>
      </thead>
      <tbody id="requestsAdminTableBody">
        <!-- Reimbursement requests will be populated here -->
      </tbody>
    </table>
  </div>

  <button
    id="toggleFormBtn"
    class="btn btn-primary"
    style="
      background-color: #010b14;
      font-family: 'Times New Roman', Times, serif;
    "
  >
    Assign Manager
  </button>

  <form id="assignForm" class="mt-4" style="display: none">
    <h3>Assign Manager</h3>
    <br />
    <div class="mb-3">
      <label for="employeeSelect" class="form-label">Select Employee:</label
      ><br />
      <select
        id="employeeSelect"
        name="employeeSelect"
        class="form-select"
        required
      >
        <!-- Employees options will be populated dynamically -->
      </select>
    </div>
    <div class="mb-3">
      <label for="managerSelect" class="form-label">Select Manager:</label
      ><br />
      <select
        id="managerSelect"
        name="managerSelect"
        class="form-select"
        required
      >
        <!-- Managers options will be populated dynamically -->
      </select>
    </div>
    <button
      type="button"
      onclick="assignManager()"
      class="btn btn-primary"
      style="background-color: #010b14"
    >
      Assign Manager
    </button>
  </form>

  <h2 class="mt-4">Unassigned Employees</h2>
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>ID</th>
        <th>Username</th>
      </tr>
    </thead>
    <tbody id="employeesBody">
      <!-- Employee data will be dynamically inserted here -->
    </tbody>
  </table>
</div>

<!-- Scripts -->
<script>
  function toggleVisibility(elementId) {
    var element = document.getElementById(elementId);
    element.style.display = element.style.display === "none" ? "block" : "none";
  }

  function toggleForm() {
    const form = document.getElementById("assignForm");
    if (form.style.display === "none") {
      form.style.display = "block";
    } else {
      form.style.display = "none";
    }
  }

  listUnassignedEmp();
  // Function to fetch unassigned employees and populate the table
  function listUnassignedEmp() {
    fetch("/user/unasigned_employees")
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          // Get the table body element
          const tbody = document.getElementById("employeesBody");
          tbody.innerHTML = "";
          // Iterate over the employee data and generate table rows
          data.data.forEach((employee) => {
            const row = document.createElement("tr");
            row.innerHTML = `
                                <td>${employee.id}</td>
                                <td>${employee.username}</td>
                            `;
            tbody.appendChild(row);
          });
        } else {
          // Handle error if data retrieval fails
          console.error("Error:", data.error);
        }
      })
      .catch((error) => {
        // Handle fetch error
        console.error("Fetch Error:", error);
      });
  }

  function toggleDepartmentForm() {
    const form = document.getElementById("addDepartmentForm");
    if (form.style.display === "none") {
      form.style.display = "block";
    } else {
      form.style.display = "none";
    }
  }

  // Function to add a department
  function addDepartment() {
    var form = document.getElementById("addDepartmentForm");
    var formData = new FormData(form);
    var json = {};

    formData.forEach(function (value, key) {
      json[key] = value;
    });

    fetch("/department/create", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(json),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.message === "Department created successfully") {
          alert("Department added successfully!");
          seeDepartments();
          // Hide the form after successful addition
          form.style.display = "none";
        } else {
          alert("Error: " + data.message);
        }
      })
      .catch((error) => {
        console.error("Error:", error);
        alert("An error occurred while adding the department.");
      });
  }

  // Event listener for the button click to toggle the department form visibility
  document
    .getElementById("toggleDepartmentFormBtn")
    .addEventListener("click", function () {
      toggleDepartmentForm();
    });

  function seeUsers() {
    const usersTableContainer = document.getElementById("usersTableContainer");
    const usersTableBody = document.getElementById("usersTableBody");

    // Toggle the visibility of the users table container
    toggleVisibility("usersTableContainer");

    // Fetch and display the user data only if the container is visible
    if (usersTableContainer.style.display === "block") {
      fetch("/user/all?is_active=true")
        .then((response) => response.json())
        .then((data) => {
          // Clear the existing rows
          usersTableBody.innerHTML = "";

          // Populate the table with user data
          data.managers.concat(data.employees).forEach((user) => {
            if (user.is_active) {
              const row = document.createElement("tr");
              row.innerHTML = `
                            <td>${user.id}</td>
                            <td>${user.first_name}</td>
                            <td>${user.last_name}</td>
                            <td>${user.username}</td>
                            <td>${user.email}</td>
                            <td>${user.role}</td>
                            <td>${user.department_id}</td>
                            <td>${user.manager_id}</td>
                            <td>
                                <button class="btn-delete" style="background-color: #dc3545; color: white;" onclick="deleteUser(${user.id})">Delete</button>
                            </td>
                        `;
              usersTableBody.appendChild(row);
            }
          });
        })
        .catch((error) => {
          console.error("Error:", error);
        });
    }
  }

  // Function to delete a department
  function deleteDepartment(departmentId) {
    // var departmentId = document.getElementById("departmentId").value;

    fetch(`/department/${departmentId}`, {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.message === "Department deleted successfully") {
          alert("Department deleted successfully!");
          seeDepartments();
        } else {
          alert("Error: " + data.message);
        }
      })
      .catch((error) => {
        console.error("Error:", error);
        alert("An error occurred while deleting the department.");
      });
  }

  // Function to list departments
  function seeDepartments() {
    fetch("/department")
      .then((response) => response.json())
      .then((data) => {
        const departmentsTableContainer = document.getElementById(
          "departmentsTableContainer"
        );
        const departmentsTableBody = document.getElementById(
          "departmentsTableBody"
        );

        // Toggle visibility of the container
        toggleVisibility("departmentsTableContainer");

        // Clear the existing rows if the container is visible
        if (departmentsTableContainer.style.display === "block") {
          departmentsTableBody.innerHTML = "";

          // Populate the table with department data
          data.forEach((department) => {
            var row = document.createElement("tr");
            var cellId = document.createElement("td");
            var cellName = document.createElement("td");
            var cellDeleteButton = document.createElement("td");
            var deleteButton = document.createElement("button");
            deleteButton.textContent = "Delete";
            deleteButton.classList.add("btn-delete");
            deleteButton.style.backgroundColor = "#dc3545"; // Inline CSS for background color
            deleteButton.style.color = "white"; // Make text color white for better contrast
            deleteButton.onclick = function () {
              deleteDepartment(department.id);
            };
            cellId.textContent = department.id;
            cellName.textContent = department.name;
            cellDeleteButton.appendChild(deleteButton);
            row.appendChild(cellId);
            row.appendChild(cellName);
            row.appendChild(cellDeleteButton);
            departmentsTableBody.appendChild(row);
          });
        }
      })
      .catch((error) => {
        console.error("Error:", error);
        alert("An error occurred while fetching the departments.");
      });
  }

  function seeRequests() {
    const requestsTableContainer = document.getElementById(
      "requestsTableContainer"
    );
    const requestsTableBody = document.getElementById("requestsTableBody");

    // Toggle the visibility of the requests table container
    toggleVisibility("requestsTableContainer");

    // Fetch and display the requests data only if the container is visible
    if (requestsTableContainer.style.display === "block") {
      fetch("/rr/get_reimbursement_requests")
        .then((response) => response.json())
        .then((data) => {
          // Clear the existing rows
          requestsTableBody.innerHTML = "";

          // Populate the table with reimbursement requests data
          data.forEach((request) => {
            const row = document.createElement("tr");
            const receiptUrls = request.receipt_path.split(","); // Splitting receipt paths by comma
            const receiptLinks = receiptUrls
              .map(
                (url) =>
                  `<a href="${url}" target="_blank">${url.substring(
                    url.lastIndexOf("\\") + 1
                  )}</a>`
              )
              .join("<br>"); // Creating link tags for each URL

            row.innerHTML = `
                        <td>${request.id}</td>
                        <td>${request.amount}</td>
                        <td>${request.date}</td>
                        <td>${request.description}</td>
                        <td>${request.category}</td>
                        <td class="status">${request.status}</td>
                        <td>${request.employee_id}</td>
                        <td>${request.manager_id}</td>
                        <td>${request.manager_comment}</td>
                        <td>${receiptLinks}</td>
                    `;

            // Append the row to the table body
            requestsTableBody.appendChild(row);
          });

          // Apply color styling to status cells
          document
            .querySelectorAll("#requestsTableBody .status")
            .forEach((statusCell) => {
              if (statusCell.innerText === "Approved") {
                statusCell.style.color = "green";
              } else if (statusCell.innerText === "Rejected") {
                statusCell.style.color = "red";
              }
            });
        })
        .catch((error) => {
          console.error("Error:", error);
          alert("An error occurred while fetching reimbursement requests.");
        });
    }
  }

  // Function to fetch reimbursement requests for admin
  function seeRequestsAdmin() {
    const requestsTableContainer = document.getElementById(
      "requestsAdminTableContainer"
    );
    const requestsTableBody = document.getElementById(
      "requestsAdminTableContainer"
    );

    // Toggle the visibility of the requests table container
    toggleVisibility("requestsAdminTableContainer");

    // Fetch and display the requests data only if the container is visible
    if (requestsAdminTableContainer.style.display === "block") {
      fetch("/rr/get_reimbursement_requests_admin")
        .then((response) => response.json())
        .then((data) => {
          // Clear the existing rows
          requestsAdminTableBody.innerHTML = "";

          // Populate the table with reimbursement requests data
          data.forEach((request) => {
            const row = document.createElement("tr");
            const receiptUrls = request.receipt_path.split(","); // Splitting receipt paths by comma
            const receiptLinks = receiptUrls
              .map(
                (url) =>
                  `<a href="${url}" target="_blank">${url.substring(
                    url.lastIndexOf("\\") + 1
                  )}</a>`
              )
              .join("<br>"); // Creating link tags for each URL

            row.innerHTML = `
            <td>${request.id}</td>
            <td>${request.amount}</td>
            <td>${request.date}</td>
            <td>${request.description}</td>
            <td>${request.category}</td>
            <td>
              <select class="statusSelect" name="status">
                <option value="Approved" ${
                  request.status === "Approved" ? "selected" : ""
                }>Approved</option>
                <option value="Rejected" ${
                  request.status === "Rejected" ? "selected" : ""
                }>Rejected</option>
              </select>
            </td>
            <td>${request.employee_id}</td>
            <td>${request.manager_id}</td>
            <td>
              <input type="text" class="managerComment" name="manager_comment" value="${
                request.manager_comment || ""
              }">
            </td>
            <td>${receiptLinks}</td>
            <td>
              <button type="button" class="updateButton" data-id="${
                request.id
              }">Update</button>
            </td>
          `;
            requestsAdminTableBody.appendChild(row);
          });

          // Add event listeners to update buttons
          document.querySelectorAll(".updateButton").forEach((button) => {
            button.addEventListener("click", function () {
              const id = this.getAttribute("data-id");
              const row = this.closest("tr");
              const status = row.querySelector(".statusSelect").value;
              const manager_comment =
                row.querySelector(".managerComment").value;
              updateReimbursementRequest(id, status, manager_comment);
            });
          });
        })
        .catch((error) => {
          console.error("Error:", error);
          alert("An error occurred while fetching reimbursement requests.");
        });
    }
  }

  function deleteUser(userId) {
    // const userId = document.getElementById('userId').value;
    // console.log
    fetch(`/user/${userId}`, {
      method: "DELETE",
      headers: {
        "Content-Type": "application/json",
      },
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          alert("User deleted successfully!");
          seeUsers();
          // Optionally, you can refresh the user list or take any other action
        } else {
          alert("Error: " + data.error);
        }
      })
      .catch((error) => {
        console.error("Error:", error);
        alert("An error occurred while deleting the user.");
      });
  }

  // Function to redirect to home page after logout
  function redirectToHome() {
    window.location.href = "/";
  }

  // Add event listener to form submission
  document
    .getElementById("logoutForm")
    .addEventListener("submit", function (event) {
      event.preventDefault(); // Prevent default form submission
      fetch("/logout", { method: "POST" })
        .then((response) => response.json())
        .then((data) => {
          if (data.success) {
            // If logout successful, redirect to home page
            redirectToHome();
          } else {
            // If logout failed, log the error
            console.error("Logout failed:", data.message);
          }
        })
        .catch((error) => {
          console.error("Error during logout:", error);
        });
    });

  // List departments on page load
  document.addEventListener("DOMContentLoaded", function () {
    listDepartments();
  });

  // Function to populate manager options based on department ID
  function populateManagers(department_id) {
    fetch(`/user/managers?department_id=${department_id}`)
      .then((response) => response.json())
      .then((data) => {
        const managerSelect = document.getElementById("managerSelect");
        managerSelect.innerHTML = "";
        data.forEach((manager) => {
          const option = document.createElement("option");
          option.text = manager.username;
          option.value = manager.id;
          managerSelect.appendChild(option);
        });
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }

  // Function to populate employee options and update manager options dynamically
  function populateEmployees() {
    fetch("/user/employees")
      .then((response) => response.json())
      .then((data) => {
        const employeeSelect = document.getElementById("employeeSelect");
        employeeSelect.innerHTML = "";
        data.forEach((employee) => {
          const option = document.createElement("option");
          option.text = employee.username;
          option.value = employee.id;
          option.setAttribute("data-department-id", employee.department_id);
          employeeSelect.appendChild(option);
        });
        // Add event listener to update manager options based on selected employee
        employeeSelect.addEventListener("change", function () {
          const selectedEmployee =
            employeeSelect.options[employeeSelect.selectedIndex];
          const department_id =
            selectedEmployee.getAttribute("data-department-id");
          populateManagers(department_id);
        });
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }

  // Function to assign manager to employee
  function assignManager() {
    const managerId = document.getElementById("managerSelect").value;
    const employeeId = document.getElementById("employeeSelect").value;

    fetch("/user/assign-manager", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ managerId, employeeId }),
    })
      .then((response) => response.json())
      .then((data) => {
        if (data.success) {
          alert("Manager assigned successfully!");
          listUnassignedEmp();
          const form = document.getElementById("assignForm");
          form.style.display = "none";
        } else {
          alert("Error assigning manager. Please try again.");
        }
      })
      .catch((error) => {
        console.error("Error:", error);
        alert("An error occurred. Please try again.");
      });
  }
  // Event listener for the button click to toggle the form visibility
  document
    .getElementById("toggleFormBtn")
    .addEventListener("click", function () {
      toggleForm();
    });

  // Populate manager and employee options when the page loads
  window.onload = function () {
    populateManagers();
    populateEmployees();
  };
  function updateReimbursementRequest(id, status, manager_comment) {
    fetch(`/rr/${id}`, {
      method: "PUT",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify({ status, manager_comment }),
    })
      .then((response) => response.json())
      .then((data) => {
        alert(data.message);
        const row = document.querySelector(`tr[data-id='${id}']`);
        if (data.is_active === false) {
          row.remove();
        } else {
          row.querySelector(".statusSelect").value = status;
          row.querySelector(".managerComment").value = manager_comment;
        }
      })
      .catch((error) => {
        console.error("Error updating request:", error);
      });
  }
</script>
{% else %}
<h1>Access Denied</h1>
<p>You do not have permission to access this page.</p>
{% endif %} {% endblock %}
