{% extends 'base.html' %} {% block content %} {% if user %}
<script>
  const role = "{{ user.role }}";
  console.log(234, role);
  // window.location.href = "/" + role.toLowerCase() + "_dashboard";
  window.location.href = "{{ url_for(user.role.lower() + '_dashboard') }}";
</script>
{% else %}

<form
  id="registrationForm"
  onsubmit="registerUser(event)"
  class="needs-validation"
  novalidate
>
  <h1
    style="
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    "
  >
    Registration
  </h1>
  <br />
  <div class="mb-3">
    <label for="username" class="form-label">Username:</label>
    <input
      type="text"
      id="username"
      name="username"
      class="form-control"
      required
      oninput="validateUsername()"
    />
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email:</label>
    <input type="email" id="email" name="email" class="form-control" required />
  </div>
  <div class="mb-3" style="position: relative">
    <label for="password" class="form-label">Password:</label>
    <input
      type="password"
      id="password"
      name="password"
      class="form-control"
      required
      style="padding-right: 40px"
    />
    <span
      class="toggle-password"
      onclick="togglePasswordVisibility('password')"
      style="position: absolute; right: 10px; top: 80px; cursor: pointer"
      >&#x1F441;</span
    >
  </div>
  <div class="mb-3" style="position: relative">
    <label for="confirm_password" class="form-label">Confirm Password:</label>
    <input
      type="password"
      id="confirm_password"
      name="confirm_password"
      class="form-control"
      required
      style="padding-right: 40px"
    />
    <span
      class="toggle-password"
      onclick="togglePasswordVisibility('confirm_password')"
      style="position: absolute; right: 10px; top: 80px; cursor: pointer"
      >&#x1F441;</span
    >
  </div>
  <div class="mb-3">
    <label for="role" class="form-label">Role:</label>
    <select id="role" name="role" class="form-select" required>
      <option value="">Select</option>
      <option value="Manager">Manager</option>
      <option value="Employee">Employee</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="first_name" class="form-label">First Name:</label>
    <input
      type="text"
      id="first_name"
      name="first_name"
      class="form-control"
      required
    />
  </div>
  <div class="mb-3">
    <label for="last_name" class="form-label">Last Name:</label>
    <input
      type="text"
      id="last_name"
      name="last_name"
      class="form-control"
      required
    />
  </div>
  <div class="mb-3">
    <label for="department" class="form-label">Department:</label>
    <select id="department" name="department_id" class="form-select" required>
      <option value="">Select</option>
      <!-- Department options will be populated dynamically -->
    </select>
  </div>
  <button
    type="submit"
    class="btn btn-primary"
    style="background-color: #010b14"
  >
    Register
  </button>
  <p class="mt-3">Have an account? <a href="/login">Login</a></p>
</form>

<script>
  function togglePasswordVisibility(inputId) {
    var input = document.getElementById(inputId);
    var icon = input.nextElementSibling;

    if (input.type === "password") {
      input.type = "text";
      icon.innerHTML = "&#x1F440;"; // Show open eye
    } else {
      input.type = "password";
      icon.innerHTML = "&#x1F441;"; // Show closed eye
    }
  }

  function registerUser(event) {
    event.preventDefault(); // Prevent the default form submission

    var form = document.getElementById("registrationForm");
    var formData = new FormData(form);
    var json = {};

    formData.forEach(function (value, key) {
      json[key] = value;
    });


    // Validate username for "@" symbol and not empty
    var usernameInput = document.getElementById("username");
    if (usernameInput.value === "") {
      alert("Username can't be empty");
      return; // Stop registration process
    } else if (usernameInput.value.includes("@")) {
      alert("You can't put '@' symbol in username");
      return; // Stop registration process
    }


    // Validate email
    var emailInput = document.getElementById("email");
    if (!validateEmail(emailInput.value)) {
      alert("Invalid Email");
      return; // Stop registration process
    }


    // Validate password not empty
    var passwordInput = document.getElementById("password");
    if (passwordInput.value === "") {
      alert("Password can't be empty");
      return; // Stop registration process
    }

    // Validate password confirmation
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirm_password").value;
    if (password !== confirmPassword) {
      alert("Passwords do not match");
      return; // Stop registration process
    }

    

    // Validate role not empty
    var roleInput = document.getElementById("role");
    if (roleInput.value === "") {
      alert("Please select the role");
      return; // Stop registration process
    }

    // Validate first name not empty
    var firstNameInput = document.getElementById("first_name");
    if (firstNameInput.value === "") {
      alert("First name can't be empty");
      return; // Stop registration process
    }

    // Validate last name not empty
    var lastNameInput = document.getElementById("last_name");
    if (lastNameInput.value === "") {
      alert("Last name can't be empty");
      return; // Stop registration process
    }

     // Validate department selection
    var departmentSelect = document.getElementById("department");
    if (departmentSelect.value === "") {
        alert("Please select a department");
        return; // Stop registration process
    }


    fetch("/user/", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(json),
    })
      .then((response) => {
        if (response.ok) {
          return response.json(); // Parse the response JSON
        } else {
          return response.json().then((data) => {
          throw new Error(data.error || "Registration failed. Please try again."); // Error response
        });
        }
      })
      .then((data) => {
        // Handle success response
        console.log(data);
        alert("Registration successful!"); // Show success message
        window.location.href = "/login"; // Redirect to login route after successful registration
        // Reset form fields
        form.reset();
      })
      .catch((error) => {
        // Handle error response
        console.error("Error:", error);
        alert(error.message); // Show error message
      });
  }

  // Custom email validation function
  function validateEmail(email) {
    // Ensure email ends with "@nucleusteq.com" and has some text before "@"
    const regex = /^[^\s@]+@nucleusteq\.com$/;
    return regex.test(email);
  }

  // Function to populate department options
  function populateDepartments() {
    fetch("/department/")
      .then((response) => response.json())
      .then((data) => {
        const departmentSelect = document.getElementById("department");
        data.forEach((department) => {
          const option = document.createElement("option");
          option.text = department.name;
          option.value = department.id;
          departmentSelect.appendChild(option);
        });
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }

  // Populate department options when the page loads
  window.onload = function () {
    populateDepartments();
  };
</script>

{% endif %} {% endblock %}
