{% extends 'base.html' %} {% block content %}

<h1>Registration</h1>

<form id="registrationForm" onsubmit="registerUser(event)">
  <label for="username">Username:</label><br />
  <input type="text" id="username" name="username" required /><br />

  <label for="email">Email:</label><br />
  <input type="email" id="email" name="email" required /><br />

  <label for="password">Password:</label><br />
  <div class="password-container">
    <input type="password" id="password" name="password" required />
    <span class="toggle-password" onclick="togglePasswordVisibility('password')">&#x1F441;</span>
  </div><br />

  <label for="confirm_password">Confirm Password:</label><br />
  <div class="password-container">
    <input type="password" id="confirm_password" name="confirm_password" required />
    <span class="toggle-password" onclick="togglePasswordVisibility('confirm_password')">&#x1F441;</span>
  </div><br />

  <label for="role">Role:</label><br />
  <select id="role" name="role" required>
    <option value="">Select</option>
    <option value="Manager">Manager</option>
    <option value="Employee">Employee</option></select
  ><br />

  <label for="first_name">First Name:</label><br />
  <input type="text" id="first_name" name="first_name" required /><br />

  <label for="last_name">Last Name:</label><br />
  <input type="text" id="last_name" name="last_name" required /><br />

  <label for="department">Department:</label><br />
  <select id="department" name="department_id" required>
    <option value="">Select</option>
    <!-- Department options will be populated dynamically --></select
  ><br />

  <button type="submit">Register</button>
  <p>Have an account? <a href="/login">Login</a></p>
</form>

<script>
    function togglePasswordVisibility(inputId) {
    var input = document.getElementById(inputId);
    var icon = document.querySelector("#" + inputId).nextElementSibling;

    if (input.type === "password") {
      input.type = "text";
      icon.innerHTML = "&#x1F440;"; // Show open eye
    } else {
      input.type = "password";
      icon.innerHTML = "&#x1F441;"; // Show closed eye
    }
  }



  function registerUser(event) {
    event.preventDefault(); // Prevent the default form submission

    var form = document.getElementById("registrationForm");
    var formData = new FormData(form);
    var json = {};

    formData.forEach(function (value, key) {
      json[key] = value;
    });

    // Validate email
    var emailInput = document.getElementById("email");
    if (!validateEmail(emailInput.value)) {
      alert("Invalid Email");
      return; // Stop registration process
    }

    // Validate password confirmation
    var password = document.getElementById("password").value;
    var confirmPassword = document.getElementById("confirm_password").value;
    if (password !== confirmPassword) {
      alert("Passwords do not match");
      return; // Stop registration process
    }

    fetch("/user", {
      method: "POST",
      headers: {
        "Content-Type": "application/json",
      },
      body: JSON.stringify(json),
    })
      .then((response) => {
        if (response.ok) {
          alert("Registration successful!"); // Show success message
          window.location.href = "/login"; // Redirect to login route after successful registration
        } else {
          throw new Error("Registration failed. Please try again."); // Error response
        }
      })
      .then((data) => {
        // Handle success response
        console.log(data);
        alert("Registration successful"); // Show success message
        window.location.href = "/login"; // Redirect to login route after successful registration
        // Reset form fields
        form.reset();
      })
      .catch((error) => {
        // Handle error response
        console.error("Error:", error);
        alert(error.message); // Show error message
      });
  }

  // Custom email validation function
  function validateEmail(email) {
    return email.endsWith("@nucleusteq.com");
  }
  // Function to populate department options
  function populateDepartments() {
    fetch("/department")
      .then((response) => response.json())
      .then((data) => {
        const departmentSelect = document.getElementById("department");
        data.forEach((department) => {
          const option = document.createElement("option");
          option.text = department.name;
          option.value = department.id;
          departmentSelect.appendChild(option);
        });
      })
      .catch((error) => {
        console.error("Error:", error);
      });
  }

  // Populate department options when the page loads
  window.onload = function () {
    populateDepartments();
  };
</script>
{% endblock %}
